<div class="modal" id="modalChat" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width: 670px">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeContentModal()">&times;</button>
                <h4 class="modal-title">Create Content</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div ckeditor ng-model="htmlContent"></div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-success btn-block" ng-click="submit(htmlContent)">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>